.App {
  text-align: center;
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.resultImg{
  width: 50%;
  height: 50%;
}

.select{
  cursor: pointer;
  width: 200px;
  height: 60px;
}

.btns{
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin-top: 40px;
}

.icon{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}